*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:sans-serif;
   text-decoration: none;
} 


.hero{ 
    width: 100%;
    height: 100vh;
    background: url(./Images/beautiful-shot-rocky-mountains-covered-with-white-snow.jpg);
    background-size: cover;
    
}

header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2opx;
    cursor: pointer;
}

    
nav .nav-list{
    list-style: none;
    margin-right: 50px;
}

nav .nav-list li{
    display: inline-block;
}

nav .nav-list li a{
    display: inline-block;
    color: white;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover{
    color: gray;
    transition: .4s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid white;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: white;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background: white;
    color: gray;
    border: 2px solid transparent;
    transition: .4s;
}
